body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
  margin-bottom: 5rem;
}

.main-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1;
  margin-top: 4rem;
}

.time-ago,
.source {
  white-space: nowrap;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -2%;
}

.list-item {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 3rem;
  width: 100%;
}

.list-item-title {
  flex-grow: 1;
}

.list-item-link {
  color: #454545;
  display: block;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.list-item-link:hover {
  color: #b30e61;
}

.list-item-image {
  background: #ccc;
  padding: 1px;
}

.list-item-source {
  color: #303030;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .list-item {
    width: 46%;
    margin: 0 2% 3rem;
  }
}

@media screen and (min-width: 960px) {
  .list {
    margin: 0 -1%;
  }

  .list-item-link {
    font-size: 2rem;
    line-height: 1.15;
  }

  .list-item {
    width: 23%;
    margin: 0 1% 3rem;
  }
}
